body {
    user-select: none;
}

.main, .start_bg, .text_bg, .image_bg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.main {
    background-color: #ffc5b3;
    overflow: hidden;
    background-image: radial-gradient(#ffeded, #ffc7c7);
}

.text_bg {
    position: absolute;
    background: transparent;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 60%;
    text-align: center;
}

.line {
    margin: 25px 0px;
}

.text {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    animation: flexing 3s ease-in infinite;
    z-index: 9;
}

.text:hover {
    animation: imageFlexing 2s ease-in 1;
}

.imageLine {
    margin: 1px 4px;
}

.blankImage, .image {
    display: inline-block;
    margin: 0px 1px;
    border: 1px solid lavender;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
}

.image {
    opacity: 1;
    background-color: pink;
    /*animation: imageFlexing 3s ease-in infinite;*/
}

.image:hover {
    animation: imageHover 2s ease-in 1;
}

.star {
    position: absolute;
    opacity: 0;
    background-color: #cc2a5d;
    transform: rotate(45deg);
    animation: shining 3s ease-in infinite;
}

.star::before,
.star::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #cc2a5d;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.star::before {
    transform: translateX(-50%);
}

.star::after {
    transform: translateY(-50%);
}


.center_image {
    position: fixed;
    border-radius: 5px;
    top: 30%;
    bottom: 30%;
    right: 35%;
    left: 35%;
}

.center_image_portrait {
    position: fixed;
    border-radius: 5px;
    top: 45%;
    bottom: 30%;
    right: 27%;
    left: 30%;
}

.center_imageFlexing {
    animation: centerImageFlexing 3s ease-in 1;
}

.project_audio {
    position: fixed;
    bottom: 0;
    left: 25%;

}

@keyframes centerImageFlexing {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2.5);
    }
}

@keyframes imageHover {
    0% {
        position: absolute;
    }

    100% {
        position: fixed;

        width:300px;
        height:300px;
    }
}

@keyframes imageFlexing {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.8;
    }
}

@keyframes flexing {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes shining {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(45deg);
    }
    20% {
        opacity: 0.8;
        transform: translateY(-20%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-1200%) rotate(45deg);
    }
}
